<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.whentogo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.android.whentogo.SubwayAlertApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.android.whentogo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.whentogo.DismissNotifier"
            android:label="@string/dismiss_notifier" >
        </activity>
        <activity
            android:name="com.android.whentogo.SnoozeNotifier"
            android:label="@string/snooze_notifier" >
        </activity>
        <activity
            android:name="com.android.whentogo.SetStartTimeActivity"
            android:icon="@drawable/icon"
            android:label="Time Setting" >
        </activity>
        <activity
            android:name="com.android.whentogo.SetStopAndDirectionActivity"
            android:icon="@drawable/icon"
            android:label="Station Setting" >
        </activity>
    </application>

</manifest>
